<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="DealProvidersSection" allowLocation="true" allowDefinition="Everywhere" type="DealUrWay.DealManager.DealProviderSection,DealUrWay.DealManager" />
  </configSections>
  
  <DealProvidersSection>
    <DealProviders>
      <AddDealProvider name="SlickDeals"      FeedURL = "http://feeds.feedburner.com/SlickdealsnetFP"               ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass=" DealUrWay.DealImplementor.SlickDeals" />
      <AddDealProvider name="FatWallet"       FeedURL = "http://feeds.feedburner.com/FatwalletHotDeals"             ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor.FatWallet" />
      <AddDealProvider name="dealcatcher"     FeedURL = "http://rss.dealcatcher.com/rss.xml"                        ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="dealnews"        FeedURL = "http://s1.dlnws.com/dealmac/rss/todays-edition.xml"        ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="dealsea"         FeedURL = "http://dealsea.com/?ref=rss"                               ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="dealslist"       FeedURL = "http://www.dealslist.com/rss.xml"                          ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="deals2buy"       FeedURL = "http://www.deals2buy.com/rssgen/alldeals.xml"              ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="dealsofamerica"  FeedURL = "http://www.dealsofamerica.com/arss.xml"                    ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="edealinfo"       FeedURL = "http://feeds.feedburner.com/edealinfo/topdeals?format=xml" ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
      <AddDealProvider name="techbargains"    FeedURL = "http://www.techbargains.com/rss.xml"                       ProviderAssemblyName="DealUrWay.DealImplementor"  ProviderClass="DealUrWay.DealImplementor" />
    </DealProviders>
  </DealProvidersSection>
</configuration>