@{
    ViewBag.Title = "About Us";
}

<div style="text-align: center">

<a href="@Url.RouteUrl(new { controller = "Home", action = "Index" })">
    <img alt="Deals Chain" src="../../Content/Images/DealsLogoGrouped.png" style="vertical-align:bottom; padding: 0 10px" />
</a>

</div>

<br />

<!-- START ABOUT US-->
<div style="font-family: arial">
    <strong>Who we are?</strong><br />
    <br />
    We are "deal" freaks on a mission to make the deals discovery easier for everyone. Our Website quickly searches over hundreds of Deal Web sites to find the deals on a product you want to purchase !!! <br />
    <br />
    <strong>What do we do?</strong>
    <br />
    <br />
    We collect deals from various sources and makes them searchable. If you want to buy a Kinect gaming console, use our search to find out the great deals happening around. We strive very hard to present you the best on going deals on any product. 
    <br />
    <br />
    <strong>Why are we doing this?</strong>
    <br /><br />
    We want to help people save money while doing thier purchases be it a Movie ticket to a big item like Samsung 55inch Led TV.
</div>